.main.darktheme {
  background-color: #5c5c5c;
  filter: brightness(80%);
}
.season-name.darktheme {
  color: #e6e6e6;
}
.sidebar.darktheme {
  background-color: #333333;
  filter: brightness(80%);
}
.sidebar-title.darktheme {
  color: #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
}
.navbar.darktheme {
  filter: brightness(80%);
}
.footer.darktheme {
  filter: brightness(80%);
}
