@import "./include-media";

img.flag {
  width: 45px;
  height: 30px;
  @include media(">phone") {
    width: 48px;
    height: 32px;
  }
  @include media(">tablet") {
    width: 51px;
    height: 34px;
  }
  @include media(">laptop") {
    width: 54px;
    height: 36px;
  }
}
