@import "./variables/colors";

.footer {
  color: white;
  text-align: center;
  height: 3.2em;
  width: 100%;
  bottom: 0;
  background-color: $footer-background-color;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;

  @include media(">phone") {
    height: 1.6em;
    justify-content: space-evenly;
  }
}
.footer > span {
  font-size: 0.8em;
  height: 1.4em;
  @include media(">phone") {
    font-size: 0.9em;
    height: 1em;
  }
}
