@use './variables/mainContentWidth';
@import './include-media';
@import './variables/colors';

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 124px;
  width: 100%;
  min-height: 1020px;
  background-color: $main-background-color;

  @include media('>tablet') {
    width: 80%;
    margin-left: 0%;
  }
  @include media('>laptop') {
    width: 85%;
  }
  @include media('>desktop') {
    width: calc(100% - 300px);
    margin-top: 136px;
  }
}

.main-slide {
  animation: slide-main 0.4s;
  position: fixed;
  margin-left: 50%;
  top: 0;
}

@keyframes slide-main {
  0% {
    margin-left: 0%;
  }
  100% {
    margin-left: 50%;
  }
}

.main-hide {
  animation: hide-main 0.4s;
}

@keyframes hide-main {
  0% {
    margin-left: 50%;
  }
  100% {
    margin-left: 0%;
  }
}

.season-name {
  margin: 10px 0px;
  padding-left: 5%;
  line-height: 2em;
  align-self: flex-start;

  @include media('>phone') {
    margin: 12px 0px;
  }
  @include media('>desktop') {
    margin: 16px 0px;
    padding-left: 100px;
  }
}

.main-content {
  display: flex;
  margin-bottom: 2rem;
  width: mainContentWidth.$main-content-width-m-s;
  overflow-x: auto;

  @include media('>tablet') {
    margin-left: 2em;
    margin-right: 2em;
    width: mainContentWidth.$main-content-width-x-l;
  }
  @include media('>desktop') {
    margin-left: 2em;
    margin-right: 2em;
    width: calc(100% - 200px);
  }
}
