@use './variables/fontSize';
@import './include-media';

body {
  margin: 0;
  font-family: 'Cairo', sans-serif;
  font-size: fontSize.$global-font-size-m;
  line-height: fontSize.$global-line-height-m;

  @include media('>phone') {
    font-size: fontSize.$global-font-size-m;
  }
  @include media('>tablet') {
    font-size: fontSize.$global-font-size-l;
  }
  @include media('>laptop') {
    font-size: fontSize.$global-font-size-x;
  }
  @include media('>desktop') {
    font-size: fontSize.$global-font-size-xl;
  }
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  min-width: 350px;
  min-height: 100vh;
}

.main-container {
  width: 100%;
  position: relative;
  overflow: hidden;
  min-height: calc(100vh - 6.6em);

  @include media('>tablet') {
    display: flex;
    flex-wrap: wrap;
  }
}
