@import './include-media';

::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-track {
  background: #f0f0f0;
}

::-webkit-scrollbar-thumb {
  background: #8f8f8f;
}

::-webkit-scrollbar-thumb:hover {
  background: #5c5c5c;
}
