@use "./variables/fontSize";
@import "./include-media";
@import "./variables/colors";

table {
  width: 100%;
  font-weight: bold;
  border-collapse: collapse;
  color: $font-accent-color;

  @include media(">laptop") {
    font-size: 0.9em;
  }
  @include media(">desktop") {
    font-size: 0.8em;
  }
}

thead {
  color: $table-header-text-color;
  text-transform: uppercase;
}

tr:nth-child(odd) {
  background-color: $table-odd-row-color;
}

tr:nth-child(even) {
  background-color: $table-even-row-color;
}

th {
  text-align: left;
  background-color: $table-header-color;
  padding: 20px 12px;

  @include media(">phone") {
    padding: 22px 14px;
  }
  @include media(">tablet") {
    padding: 23px 18px;
  }
  @include media(">laptop") {
    padding: 24px 20px;
  }
}

td {
  height: 2.25rem;
  margin: 0;
  padding: 8px 12px;

  @include media(">phone") {
    padding: 8px 14px;
  }
  @include media(">tablet") {
    padding: 8px 18px;
  }
  @include media(">laptop") {
    padding: 8px 20px;
  }
}
