@use './variables/fontSize';
@import './include-media';
@import './variables/colors';

table {
  background-color: white;
  width: 100%;
  font-weight: 500;
  border-collapse: collapse;
  color: $font-accent-color;

  @include media('>laptop') {
    font-size: 0.85em;
  }
  @include media('>desktop') {
    font-size: 0.75em;
  }
}

thead {
  color: $table-header-text-color;
  text-transform: uppercase;
}

tr:nth-child(odd) {
  background-color: $table-odd-row-color;
}

tr:nth-child(even) {
  background-color: $table-even-row-color;
}

.tr-next-race {
  background-color: $table-next-race-color !important;
  color: $text-dark-color !important;
}

.tr-dark:nth-child(odd) {
  background-color: $table-odd-row-dark-color;
  color: $text-dark-color;
}

.tr-dark:nth-child(even) {
  background-color: $table-even-row-dark-color;
  color: $text-dark-color;
}

tr {
  height: 60px;
}

th {
  background-color: $table-header-color;
  padding: 0px 12px;

  @include media('>phone') {
    padding: 0px 14px;
  }
  @include media('>tablet') {
    padding: 0px 18px;
  }
  @include media('>laptop') {
    padding: 0px 20px;
  }
}

td {
  height: 2.25rem;
  margin: 0;
  padding: 0px 12px;

  @include media('>phone') {
    padding: 0px 14px;
  }
  @include media('>tablet') {
    padding: 0px 18px;
  }
  @include media('>laptop') {
    padding: 0px 20px;
  }
}

td.emphasise {
  font-weight: 600;
}

td.qualifying-date {
  text-align: center;
  line-height: 1.4rem;
}

td.race-date {
  @extend .qualifying-date;
  font-weight: 600;
}
