// Change colors in colors.js as well
$font-accent-color: #636363;

$navbar-background-color: #59bdc0;
$navbar-button-default-color: #19838a;
$navbar-button-default-hover-color: #136567;
$navbar-button-selected-color: #c51b29;
$navbar-button-selected-hover-color: #a31621;

$theme-slider-light-background: #d3edee;
$theme-slider-dark-background: #276568;
$theme-slider-light-input: #112b2c;
$theme-slider-dark-input: #f0f9f9;

$sidebar-background-color: #ebebeb;
$sidebar-button-default-color: #19838a;
$sidebar-button-default-hover-color: #136567;
$sidebar-button-selected-color: #c51b29;
$sidebar-button-selected-hover-color: #a31621;

$filler-color: #b8b8c5;
$filler-color-noopacity: rgba(185, 185, 198, 1);

$main-background-color: #ffffff;
$table-header-color: #19838a;
$table-header-text-color: #ffffff;
$table-even-row-color: #ffffff;
$table-odd-row-color: #f2f2f2;

$footer-background-color: #59bdc0;

$loading-screen-color: #c4e7e9;
$loading-screen-dark-color: #5c5c5c;

// Dark theme colors
$main-dark-color: #333333;
$sidebar-dark-color: #171717;
$text-dark-color: #ebebeb;
$table-odd-row-dark-color: #333333;
$table-even-row-dark-color: #1f1f1f;

/*
    Color palette:
    #59BDC0 - Maximum Blue Green
    #19838A - Metallic Seaweed
    #A31621 - Ruby Red
    #F2F2F2 - Cultured
*/
