// Change colors in colors.js as well
$font-accent-color: #636363;

$navbar-background-color: #59bdc0;
$navbar-button-default-color: #19868a;
$navbar-button-default-hover-color: #136567;
$navbar-button-selected-color: #c51b29;
$navbar-button-selected-hover-color: #a31621;

$sidebar-background-color: #ebebeb;
$sidebar-button-default-color: #19868a;
$sidebar-button-default-hover-color: #136567;
$sidebar-button-selected-color: #c51b29;
$sidebar-button-selected-hover-color: #a31621;

$filler-color: #b8b8c5;

$main-background-color: #ffffff;
$table-header-color: #19868a;
$table-header-text-color: #ffffff;
$table-even-row-color: #ffffff;
$table-odd-row-color: #f2f2f2;

$footer-background-color: #59bdc0;

//https://coolors.co/f2f2f2-59bdc0-19868a-7fb3b3-c90700
