$global-font-size-m: 16px;
$global-line-height-m: $global-font-size-m;

$global-font-size-l: 18px;
$global-line-height-l: $global-font-size-l;

$global-font-size-x: 22px;
$global-line-height-x: $global-font-size-x;

$global-font-size-xl: 26px;
$global-line-height-xl: $global-font-size-xl;
